<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    //- Very Important 

    //- -let name="James";
    //- -let lastname="Bond";
    //- h1="Welcome Mr"+" "+name+" "+lastname
    
    //- Back to our old method

    //- h2=`Welcome Mr ${lastname}`

    - cubslist.forEach(cub=>{
        h1= `${cub.name}`
    - });
</body>
</html>